language: python
sudo: false
# Get japanese minch fonts
addons:
    apt:
        packages:
        - fonts-takao-mincho
python:
    - "2.7"
    - "3.6"
matrix:
    include:
        - python: "3.7"
          dist: xenial
          sudo: true

# The version of GS in the repos is too old and using debian-sid often breaks
before_install:
    - wget https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs922/ghostscript-9.22-linux-x86_64.tgz
    - tar -xvf ghostscript-9.22-linux-x86_64.tgz
    - mv ghostscript-9.22-linux-x86_64/gs-922-linux-x86_64 ghostscript-9.22-linux-x86_64/gs
    - export PATH=$PWD/ghostscript-9.22-linux-x86_64:$PATH
install:
    - travis_retry pip install tox tox-travis coveralls
script:
    - tox
notifications:
    email: false
after_success:
    - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then
        coveralls;
      fi
