[buildout]
develop = .
versions = versions
parts = test scripts python

[test]
recipe = zc.recipe.testrunner
eggs = z3c.rml [test]

[scripts]
recipe = zc.recipe.egg
eggs = z3c.rml [pagetemplate]

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.rml [pagetemplate]

[ctags]
recipe = z3c.recipe.tag
eggs = ${test:eggs}

[versions]
# tag-textField test fails with reportlab 2.5, because of this change to PDFPattern:
# http://two.pairlist.net/pipermail/reportlab-users/2010-January/009216.html
reportlab = 2.4
PIL = 1.1.7
lxml = 2.3
