include *.rst
include *.txt
include *.py
include .coveragerc
include .travis.yml
include tox.ini

recursive-include src *
recursive-exclude src/z3c/rml/tests/output *.png *.pdf
recursive-exclude src/z3c/rml/tests/expected *.png

global-exclude *.pyc

